body {
  font-family: sans-serif;
  background-color: rgb(182, 182, 244);
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  background-color: darkred;
}

#animacao {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color:rgb(110, 171, 171);
}